@import "responsive";
@import "body";

.main {
  padding: 0 10% 0 10%;
  margin-top: 3%;
  width: 80%;
  justify-content: space-between;
}

#current-video {
  width: 55%;
  height: 540px;
  h1{
    font-size: 2em;
    color: #a8395c;
  }
  iframe {
    width: 100%;
    height: 313px;
    margin-bottom: 30px;
  }
  .info-box {
    height: 160px;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 22.5px;
    font-size: 14px;
    #headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: #a8395c;
        font-size: 1em;
      }
      #current-info {
        display: flex;
        align-items: center;
        span {
          display: none;
          position: absolute;
          width: 150px;
          right: 0;
          top: -50px;
          height: auto;
          background-color: white;
          border: 1px solid gray;
          padding: 10px;
        }
        .stats {
          position: absolute;
          .views {
            position: absolute;
            z-index: 0;
            right: 40px;
            top: -15px;
            img {
              width: 30px;
              height: auto;
            }
            &:hover {
              #published-views {
                display: block;
                z-index: 10;
              }
            }
          }

        }
        .published {
          position: absolute;
          .views {
            position: absolute;
            z-index: 0;
            right: 0px;
            top: -15px;
            img {
              width: 30px;
              height: auto;
            }
            &:hover {
              #published-date {
                display: block;
                z-index: 10;
              }
            }
          }
        }
      }
    }
    #info-box:after {
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      background: -webkit-linear-gradient(transparent, gray);
      background: -o-linear-gradient(transparent, gray);
      background: linear-gradient(transparent, gray);
    }
  }
}

@mixin video($value, $width) {
  .video {
    display: flex;
    cursor: pointer;
    width: $width;
    img {
      width: $value;
      height: auto;
      padding: 8px;
    }
    .content {
      .content-box {
        padding: 8px;
        h3 {
          color: #a8395c;
          font-size: 1em;
        }
        .info {
          display: flex;
          align-items: center;
          img {
            width: 30px;
            height: auto;
          }
          span {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@mixin loading($value, $top, $center) {
  z-index: 2;
  position: relative;
  margin: $top $center;
  button {
    width: $value;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
}

#videos-list {
  width: 42%;
  height: 540px;
  h1 {
    font-size: 2em;
    color: #a8395c;
  }
  #videos {
    border: solid 1px #ddd;
    overflow: scroll;
    height: 100%;
    padding: 8px;
    #list {
      z-index: -1;
      @include video(170px, 100%);
    }
    .list {
      @include loading(100%, 10%, 2%);
    }
  }
}

#allvideos {
  display: flex;
  flex-wrap: wrap;
  @include video(180px, 30%);
}

.allvideos {
  @include loading(70%, 5%, 35%);
}

.modal {
    width: 40%;
    border: 1px solid gray;
    padding: 2%;
    background-color: white;
    transform: translate(50%, 15%);
    z-index: 10;
    iframe {
      width: 100%;
      height: 280px;
    }
    .info-box {
      #headline {
        display: flex;
        justify-content: space-between;
        #current-info {
          display: flex;
          .stats {
            display: flex;
            align-items: center;
          }
          .published {
            display: flex;
            align-items: center;
          }
        }
      }
    }
}

